html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #dfe3ee ;
}

.headingBackground {
    background-color: #3b5998 ;
    width: 100%;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    overflow: visible;
}

.textctrl{
    color: #ffffff;
    font-size: 1.2em;
}

.controlpanel{
    flex-direction: column;
    background-color: #3b5998;
    position: absolute;
    left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 200px;
}

.slider{
    width:100%;
}

.loadingbackground{
    position: fixed;
    width:100%;
    bottom:50%;
    text-align: center;
    background-color: #000000ee;
}

.loadingtext{
    font-size: 3em;
    color: #ffffffee
}

.fixed{
    position: fixed;
}

.heading.text {
    color: #f7f7f7;
    font-size: 2em;
    font-weight: bold;
    padding: 2%;
    font-family: 'Verdana';
}

.hide{
    visibility: hidden;
}

.canvas {
    border: 1px solid rgb(121, 121, 121) !important;
}

.text {
    font-family: 'Helvetica';
    color: #18233b ;
    font-size: 1.3em;
}

.text.small {
    font-family: 'Helvetica';
    color: #18233bce ;
    font-size: 0.8em;
}

.flex-container.main{
    position: absolute;
    align-content: center;
    left:50%;
    top:10%;
    height: 512px;
    margin-top: 4em;
	margin-left: -150px; /* This is half the width */
}

.flex-container.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    height: 32px;
}
.hidecanvas
{
    position: absolute;
    overflow: hidden;
    left: -100vw;
}

.textblock{
    position: relative;
    top: 600px;
    font-size: 1.3em;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #c7cee0 ;
    margin-bottom: 105x;
}

.textcontent{
    padding-left: 20px;
    padding-right: 20px;
}

#expandable{
    padding: 10px;
}

.details{
    font-size: 2em;
    color: #ffcc00;
    background-color: #3b5998;
    padding: 10px;
    margin-block-end: 0.4em;
}


.networkbtn{
    flex-grow: 1;
}
